.card_body {
  font-family: sans-serif;
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  min-width: 400px;
  background-color: #dfe6e9;
  text-align: center;
}

.heading {
  text-align: center;
  font-size: 2em;
  color: #2d3436;
  margin: 20px 0 30px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #dddb99;
  margin: 50px 50px 50px 50px;
  height: 240px;
  width: 500px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
  display: inline-block;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #ecf071;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 1.2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin : 35px 10px 10px 25px;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 120px;
  width: 40%;
}

.info {
  margin: 20px 5px 5px 5px;
  color: #1a7e76;
}

.but {
  float: right;
}
