.compose_area {
    background: rgb(248, 231, 137);
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px 20px 20px 20px;
    width: 400px;
    height: auto;
    margin: 40px;
    display: inline-block;
    float: left;
}

input,
textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  border-radius: 7px;
}

.blog {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: auto;
    height: 200px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.blog button {
    font-size: 1.05rem;
    position: absolute;
    bottom : 5px;
    padding: 5px;
    margin-right: 10px;
    color: #000000;
    background: rgb(164, 163, 163);
    border: none;
    width: auto;
    height: auto;
    cursor: pointer;
    font-weight: bold;
}

.likebutton {
    left : 90px;
}

.deletebutton{
    right : 5px;
}

.allblog {
    border: 2px solid black;
    display: inline-block;
    width: 900px;
    padding: 15px;
    margin : 40px;
    float: right;
    
}